/*couleur principale : #FF5600
couleur secondaire : #00AA72
couleur tertiaire (background) : #FEFEC5*/

.nomargin{
    margin:0px;
}
.navbar-default .navbar-brand{
    color:#FF5600;
}
.navbar-default .navbar-brand:hover{
    color: #00AA72;
}


/****article********/

.layout {
	max-width: 80em;
	margin: auto;
}

.article2{
	height: 350px;
	width: 100%;
}

.article1{
	margin-top: 60px;
	padding-left: 60px;
}

.article_page {
	margin-top: 100px;
}

.hidden_content {
	display: none;
}

.img1{
	height: 150px;
	width: 350px;
	float: right;
	margin-top: 80px;
	padding-right: 60px;
}
.img{
	height: 150px;
	width: 150px;
	float: right;
	margin-top: 80px;
}


main {
	margin-top: 75px;
	height: 1500px; /*A MODIFIER LORS DU MERGE*/
}

.EventMomment img{
	float: right;
	width: 200px;
}

.navbar-default .navbar-nav > li > a {
    color:#00AA72;
}
.navbar-default .navbar-nav > li > a:hover {
    color:#FF5600;
}
.icone{
    color:#FF5600;
}






/* footer */
.footer{
   background-color: #00AA72;
    padding-top:25px;
}

.copyright{
    color:#FEFEC5;
}
.copyright p{
    margin:0px;
}
.portrait{
    background-image:url("../images/portrait.jpg");
    height:140px;
}
.presentation{
    color:#FEFEC5;
}
#presentation1 {
	display: block;
}

