.layout {
	margin: auto;
	max-width: 70em;
}

.article {
	margin-top: 100px;
}

.article_title {
	padding-bottom: 30px;
}

.article_image {
	padding-left: 30px;
	padding-top: 30px;

/*couleur principale : #FF5600
couleur secondaire : #00AA72
couleur tertiaire (background) : #FEFEC5*/

.nomargin{
    margin:0px;
}
.navbar-default .navbar-brand{
    color:#FF5600;
}
.navbar-default .navbar-brand:hover{
    color: #00AA72;
}
